body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 650px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

header h1 {
        margin: 0;
        font-weight: 600; 
        font-size: 15px; 
    }
    


header p {
    margin: 5px 0;
    color: #555;
}

.profile img {
    display: block;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 20px auto;
    border: 3px solid #eee;
}

.devices {
    margin-top: 20px;
}

.devices h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

article {
    background-color: #fafafa;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

article h3 {
    margin-bottom: 10px;
    color: #444;
}

article img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

article p {
    margin: 5px 0;
    color: #555;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #e0e0e0;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}


article {
    margin-bottom: 20px;
}

article h3 {
    margin-bottom: 5px;
}

article img {
    display: block;
    max-width: 100%;
    height: 10;
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #070606;
    text-decoration: none;
}
